<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterAuthorizationNew</filter-name>
        <filter-class>controller.FilterAuthorizationNew</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAuthorizationNew</filter-name>
        <url-pattern>/view/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectAppLoginController</servlet-name>
        <servlet-class>controller.RedirectAppLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RsPwByEmailController</servlet-name>
        <servlet-class>controller.RsPwByEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RsPwByMobileController</servlet-name>
        <servlet-class>controller.RsPwByMobileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>controller.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCurriculumController</servlet-name>
        <servlet-class>controller.ListCurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>controller.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverviewCurriculumController</servlet-name>
        <servlet-class>controller.OverviewCurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PloController</servlet-name>
        <servlet-class>controller.PloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PloDetailsController</servlet-name>
        <servlet-class>controller.PloDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subject</servlet-name>
        <servlet-class>controller.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboController</servlet-name>
        <servlet-class>controller.GroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewPLOsController</servlet-name>
        <servlet-class>controller.AddNewPLOsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoController</servlet-name>
        <servlet-class>controller.PoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCurriculumController</servlet-name>
        <servlet-class>controller.NewCurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurriculumSubject</servlet-name>
        <servlet-class>controller.CurriculumSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoDetailController</servlet-name>
        <servlet-class>controller.PoDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCurriculumController</servlet-name>
        <servlet-class>controller.EditCurriculumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MappingPlo_PoController</servlet-name>
        <servlet-class>controller.MappingPlo_PoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPosController</servlet-name>
        <servlet-class>controller.AddPosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Syllabuses</servlet-name>
        <servlet-class>controller.SyllabusesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectiveListController</servlet-name>
        <servlet-class>controller.ElectiveListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MappingPLO_SubjectController</servlet-name>
        <servlet-class>controller.MappingPLO_SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSettingController</servlet-name>
        <servlet-class>controller.AddSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Syllbus</servlet-name>
        <servlet-class>controller.SyllabusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloController</servlet-name>
        <servlet-class>controller.CloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectPredecessorsController</servlet-name>
        <servlet-class>controller.SubjectPredecessorsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSuccessorsController</servlet-name>
        <servlet-class>controller.SubjectSuccessorsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecisionController</servlet-name>
        <servlet-class>controller.DecisionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportFileController</servlet-name>
        <servlet-class>controller.ImportFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentGroupController</servlet-name>
        <servlet-class>controller.ContentGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboGroupController</servlet-name>
        <servlet-class>controller.ComboGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboListFullController</servlet-name>
        <servlet-class>controller.ComboListFullController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectiveSubjectController</servlet-name>
        <servlet-class>controller.ElectiveSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>controller.QuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/view/common/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/view/common/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectAppLoginController</servlet-name>
        <url-pattern>/view/common/redirectapplogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/view/user/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RsPwByEmailController</servlet-name>
        <url-pattern>/view/common/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RsPwByMobileController</servlet-name>
        <url-pattern>/view/common/forgotpasswordbymobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/view/admin/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/view/user/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/view/common/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/view/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/view/admin/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/view/admin/settingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverviewCurriculumController</servlet-name>
        <url-pattern>/view/curriculum/overviewcurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCurriculumController</servlet-name>
        <url-pattern>/view/curriculum/listcurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PloDetailsController</servlet-name>
        <url-pattern>/view/admin/plodetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subject</servlet-name>
        <url-pattern>/view/admin/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboController</servlet-name>
        <url-pattern>/view/common/combo</url-pattern>
        <url-pattern>/view/admin/combo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoController</servlet-name>
        <url-pattern>/view/common/po</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCurriculumController</servlet-name>
        <url-pattern>/view/curriculum/newcurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurriculumSubject</servlet-name>
        <url-pattern>/view/admin/curriculumsubject</url-pattern>
        <url-pattern>/view/common/curriculumsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoDetailController</servlet-name>
        <url-pattern>/view/admin/podetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCurriculumController</servlet-name>
        <url-pattern>/view/curriculum/editcurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingPlo_PoController</servlet-name>
        <url-pattern>/view/common/mappingPLO_PO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPosController</servlet-name>
        <url-pattern>/view/admin/addpos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Syllabuses</servlet-name>
        <url-pattern>/view/common/syllabuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectiveListController</servlet-name>
        <url-pattern>/view/common/elective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MappingPLO_SubjectController</servlet-name>
        <url-pattern>/view/common/mappingplosubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSettingController</servlet-name>
        <url-pattern>/view/admin/addsetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Syllbus</servlet-name>
        <url-pattern>/view/common/syllabus</url-pattern>
        <url-pattern>/view/crddstaff/syllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectPredecessorsController</servlet-name>
        <url-pattern>/view/common/subjectpredecessors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSuccessorsController</servlet-name>
        <url-pattern>/view/common/subjectsuccessors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecisionController</servlet-name>
        <url-pattern>/view/decision/dicisioncontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportFileController</servlet-name>
        <url-pattern>/view/common/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboGroupController</servlet-name>
        <url-pattern>/combogroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboListFullController</servlet-name>
        <url-pattern>/view/common/combolistfull</url-pattern>
        <url-pattern>/view/admin/combolistfull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentGroupController</servlet-name>
        <url-pattern>/view/common/contentgroup</url-pattern>
        <url-pattern>/view/admin/contentgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectiveSubjectController</servlet-name>
        <url-pattern>/view/crddstaff/electivedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloController</servlet-name>
        <url-pattern>/view/common/clo</url-pattern>
        <url-pattern>/view/admin/clo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PloController</servlet-name>
        <url-pattern>/view/common/plo</url-pattern>
        <url-pattern>/view/admin/plo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/view/question/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewPLOsController</servlet-name>
        <url-pattern>/view/admin/addPLOs</url-pattern>
        <url-pattern>/view/staff/addPLOs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
